# Dependencies
sirius-frontend/node_modules
sirius-frontend/.pnp
.sirius-frontend/pnp.js

# Next.js build output
sirius-frontend/.next
sirius-frontend/out

# Logs
sirius-frontend/npm-debug.log*
sirius-frontend/yarn-debug.log*
sirius-frontend/yarn-error.log*
sirius-frontend/.pnpm-debug.log*

# Testing
sirius-frontend/coverage

# Production files
sirius-frontend/build

# Misc
sirius-frontend/.env
sirius-frontend/.env.local
sirius-frontend/.env.development.local
sirius-frontend/.env.test.local
sirius-frontend/.env.production.local

# MacOS files
.DS_Store

# Linux files
sirius-frontend/*.swp

# IDE and Editor specific
.vscode/
.idea/
sirius-frontend/*.sublime-workspace
sirius-frontend/*.sublime-project
